[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SCEPtER"]
	path = SCEPtER
	url = https://github.com/cran/SCEPtER
[submodule "SCEPtERbinary"]
	path = SCEPtERbinary
	url = https://github.com/cran/SCEPtERbinary
[submodule "stellaR"]
	path = stellaR
	url = https://github.com/cran/stellaR
